/*FOR DASHBOARD PAGE*/

.dashboard-container {
    font-weight: 100;
}

.navbar {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 0 7px 0 rgba(161, 155, 161, 1);
    -moz-box-shadow: 0 0 7px 0 rgba(161, 155, 161, 1);
    box-shadow: 0 0 7px 0 rgba(161, 155, 161, 1);
}

.navbar-logo {
    margin-left: 32px;
    text-decoration: none;
    font-size: 30px;
    display: flex;
}

.logo-photo {
    width: 30px;
    height: 30px;
    padding-right: 8px;
}
.logout-link {
    padding: 0 16px;
    border-left: 1px solid rgb(14, 235, 66);
    cursor: pointer;
    font-size: 14px;
}

.logout-text {
    position: relative;
    bottom: 6px;
    padding-left: 4px;
}


.navbar-links {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    align-items: center;
}

.bold {
    padding-left: 3px;
    color: rgb(35, 187, 12);
    font-weight: 300;
}

.user-profile {
    padding-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-profile:hover {
    background-color: #F5F5F5;
    transition: background-color 0.2s ease-in;
}

.user-profile p {
    padding-left: 10px;
    margin-right: 5px;
    font-size: 14px;
}

#circle {
    width: 45px;
    height: 45px;
    background-image: url("/src/img/yo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    font-weight: 300;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle p {
    font-size: 18px;
    padding-left: 0;
    margin-left: 5px;
}

.content {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: flex-start;
}

.photos-canvas {

    width: 70%;
    height: 100%;
}

.sidebar {
    width: 30%;
    height: calc(100% - 7px);
    background-color: #f7f7f7;
    margin-top: 7px;
    border-left: 1px solid #d1cdcd;
}

.fields {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #d1cdcd;
   

}

.location {
    margin-top: 35px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    font-size: 16px;
    padding: 10px 0 10px 5px;
    width: 20vw;
    border: none;
    border-bottom: 1.2px solid #757575;
    background-color: #ffffff;
}

.group input:focus {
    outline: none;
}

.group label {
    color: rgb(125, 117, 117);
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

.group input:focus ~ label, .group input:valid ~ label {
    top: -20px;
    font-size: 15px;
    color: rgb(32, 182, 24);
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgb(21, 181, 12);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.dropdownGroup {
    margin-bottom: 35px;
}

.dropdownLabel {
    padding: 10px 5px;
    color: rgb(125, 117, 117);
    font-size: 18px;
}

.dropdownElement {
    width: 31vw;
    height: 35px;
    border: 1px solid #E10970;
    background-color: white;
    outline: 0;
    font-size: 14px;
    cursor: pointer;
}

.dropdownElement:hover {
    border: 1px solid lightcoral;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 200px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.4;
}

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* Animations */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

#line {
    width: 100%;
    border-top: 1.1px solid #d5d5d5;
}

#dist-title {
    position: relative;
    top: -16px;
    padding-right: 10px;
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 13px;
    background: #E10970;
    outline: none;
    border-radius: 7px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d0cdcd;
    cursor: pointer;
    border: 1px solid #777777;
}

#dist-name {
    font-size: 18px;
    color: #535050;
}

#dist-value {
    font-size: 14px;
    color: #535050;
}

#dist {
    font-size: 16px;
    color: #E10970;
}

#photos {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    height: 260px;
    width: 170px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #d0cdcd;
    background-color: white;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.photo:hover {
    transition: filter 0.2s ease-in;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#photo-img {
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(123, 119, 119);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
}

.modal-title {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E10970;
    margin-bottom: 16px;
}

.close {
    position: relative;
    bottom: 20px;
    left: 5px;
    color: black;
    float: right;
    font-size: 30px;
}

.close:hover,
.close:focus {
    color: #E10970;
    text-decoration: none;
    cursor: pointer;
}

.info {
    display: flex;
    text-transform: capitalize;
    overflow: auto;
    max-height: 550px;
}

#modal-img {
    width: 280px;
    margin-right: 32px;
}

#modal-img img {
    width: 100%;
}

.modal-info {
    padding-top: 16px;
}

.line {
    padding: 4px 0;
    display: flex;
}

.label {
    width: 90px;
    font-weight: 400;
}

.photo--content {
    display: flex;
    text-align: center;
}

.photo--content p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.likes-content, .comm-content {
    width: 50%;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.0);
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #E10970;
    border-radius: 7px;
}

@media only screen and (max-width: 1200px) {
    .modal {
        padding-top: 80px;
    }

    .modal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 760px) {
    .info {
        display: block;
    }
}

/* layout for phone */
@media only screen and (max-width: 510px) {

    .dropdownElement {
        width: 100%;
    }

    .location, .distance {
        width: 80%;
    }

    .content {
        flex-direction: column;
    }

    .map-canvas {
        width: 100%;
        height: 40%;
    }

    .sidebar {
        height: 60%;
        width: 100%;
    }

    .group input {
        width: 100%;
    }


    .modal {
        padding-top: 50px;
    }
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}


/* marker */
.marker-content{
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.mySlides {
    width: 100%;
    height: 100%;
}

#marker-photos{
    height: 100%;
}

.marker-btn-left {
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    border: none;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
}

.marker-btn-right {
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    border: none;
    padding: 3px 10px;
    cursor: pointer;
}


/* ANIMATIONS */


#slideshow{
    padding-top: 50px;
}
 /* 1.Setup the 3d stage */
.stage {
	margin: 0 auto;
	width: 190px;
	perspective: 1000px;
    padding-top: 120px;
    position: relative;
}

 /* 2.Position the carrousel elements */
.carrousel__content {
  width: 100%;
  animation: rotation 20s infinite ease-in-out;
  transform-style: preserve-3d;
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.carrousel__content figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.carrousel__content img {
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.carrousel__content figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .carrousel__content figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .carrousel__content figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .carrousel__content figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .carrousel__content figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .carrousel__content figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .carrousel__content figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .carrousel__content figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .carrousel__content figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
}

 /* 3. Create the animation keyframes */
@keyframes rotation {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}


 /* 3. Add some interaction */
.carrousel__content img:hover {
	transform: scale(1.2, 1.2);
    transition: all 300ms;
}

.carrousel__content:hover {
	animation-play-state: paused;
	cursor: pointer;
}


/* Loader animations */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #24b836;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-top: 150px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.4s linear infinite;
    display: none;
  }

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }